* {
    /* box-sizing: border-box; */

}

html,
body {
	margin:0;
	padding:0;
	height:100%;
    font-family: sans-serif;
}

/* For responisve pages*/
 @-ms-viewport{ 
 width: device-width;
}

/* Styling for a page layout of header+content+footer */

 .menuPreview {
     background-color: blue;
     display: flex;
 }

 .loadedPreview {
     background-color: yellow;
     flex: 1;
     text-decoration: none;
     
 }

 .sectionTitle {
     background-color: red;
     /* width: 50%; */
 }

 .sectionInfo {
     background-color: purple;
     /* width: 50%; */
 }

 .demoLinks {
     background-color: white;
     max-height: 50px;
     max-width: 75px;
 }

 a:hover {
     background-color: green;
 }

 ul, li, a {
     text-decoration: none;
 }


 .techStack {
    background-color: grey;
    max-height: 75px;
    max-width: 100px;
 }