html,
body {
	margin:0;
	padding:0;
	height:100%;
    font-family: sans-serif;
}

/* For responisve pages*/
 @-ms-viewport{ 
 width: device-width;
}

/* Styling for a page layout of header+content+footer */
#mainwrap {
	min-height:100%;
    position:relative;
    background-color: green;
} 
 .menuPreview {
     background-color: blue;
 }

 .loadedPreview {
     background-color: yellow;
 }
